<!-- <p>student-login works!</p> -->

<div class="login-form">
    <h2>Student Login</h2>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="Enter name" />
  
      <label for="rollno">Rollno:</label>
      <input type="text" id="rollno" placeholder="Enter roll number" />
  
      <label for="branch">Branch:</label>
      <input type="text" id="branch" placeholder="Enter branch" />
  
      <label for="email">Email-id:</label>
      <input type="email" id="email" placeholder="Enter email" />
  
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Enter password" />
  
      <label for="phone">Phone-no:</label>
      <input type="tel" id="phone" placeholder="Enter phone number" />
  
      <button type="submit">Submit</button>
    </form>
  </div>
  

  <!--<p>first works!</p>

<h1>Student Login Form</h1>
<form>
    <div class="container">
        <label>Username:</label>
        <input type="text" placeholder="Enter Username" name="username" required><br>
        
        <label>Password:</label>
        <input type="password" placeholder="Enter Password" name="password" required><br>
        
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
        
        <button type="button" class="cancelbtn">Cancel</button>
        <a href="#">Forgot password?</a>
    </div>
</form>-->